node-red/flows_30012021.json
[{"id":"76a28038.9d539","type":"tab","label":"flow","disabled":false,"info":""},{"id":"9d342e35.c818a","type":"ui_template","z":"76a28038.9d539","group":"7905f93d.8f4638","name":"Camera view","order":1,"width":14,"height":9,"format":"<p align=\"center\"><iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=240 width=640 src=\"http://192.168.1.110:5001\"></iframe></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":100,"wires":[[]]},{"id":"d293b85d.1d1268","type":"PCA9685 out","z":"76a28038.9d539","name":"PWM channel 0","pca9685":"b21e784d.4b3e08","channel":"0","payload":"","unit":"microseconds","onStep":"0","x":500,"y":360,"wires":[]},{"id":"c2aa97f.c6bc968","type":"inject","z":"76a28038.9d539","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":470,"y":440,"wires":[["97a4cd79.810bc","d293b85d.1d1268"]]},{"id":"9cd55485.3b8098","type":"ui_slider","z":"76a28038.9d539","name":"Set X","label":"Ustaw:","tooltip":"","group":"55c22fb8.f9cca","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"x_value","min":"575","max":"2460","step":"10","x":90,"y":420,"wires":[["55e46a62.b16084","c0d1e8ee.82b8b8","c3879e1.82f066"]]},{"id":"f832aed1.a2043","type":"ui_toast","z":"76a28038.9d539","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Reset notification","x":1270,"y":400,"wires":[]},{"id":"55e46a62.b16084","type":"ui_gauge","z":"76a28038.9d539","name":"X-axis","group":"55c22fb8.f9cca","order":2,"width":0,"height":0,"gtype":"gage","title":"oś X","label":"PWM","format":"{{value}}","min":"575","max":"2460","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":420,"wires":[]},{"id":"1c60f564.506d5b","type":"ui_slider","z":"76a28038.9d539","name":"Set Y","label":"Ustaw:","tooltip":"","group":"55c22fb8.f9cca","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"y_value","min":"575","max":"2460","step":"10","x":90,"y":480,"wires":[["d259d137.e87c1","8326c3ee.73076","a1cdcea0.e45c6"]]},{"id":"d259d137.e87c1","type":"ui_gauge","z":"76a28038.9d539","name":"Y-axis","group":"55c22fb8.f9cca","order":4,"width":0,"height":0,"gtype":"gage","title":"oś Y","label":"PWM","format":"{{value}}","min":"575","max":"2460","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":480,"wires":[]},{"id":"11a2abc0.262ed4","type":"ui_button","z":"76a28038.9d539","name":"","group":"7905f93d.8f4638","order":2,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":400,"wires":[["f59fd06c.d3f66"]]},{"id":"f59fd06c.d3f66","type":"function","z":"76a28038.9d539","name":"Set default position","func":"msg.payload = 0;\nmsg.topic = \"Wyzerowano\";\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["f66dac24.aaddf","f832aed1.a2043","84d9e956.0ec558"]]},{"id":"f66dac24.aaddf","type":"link out","z":"76a28038.9d539","name":"","links":["fafe05f2.1df2e8","e3d63ad3.51a638","7d7996af.f750c8"],"x":1095,"y":540,"wires":[]},{"id":"fafe05f2.1df2e8","type":"link in","z":"76a28038.9d539","name":"","links":["f66dac24.aaddf"],"x":435,"y":600,"wires":[["97a4cd79.810bc"]]},{"id":"b615d647.d70b88","type":"i2c scan","z":"76a28038.9d539","name":"","busno":"1","x":320,"y":780,"wires":[["22c0998d.900d66"],[]]},{"id":"22c0998d.900d66","type":"debug","z":"76a28038.9d539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":760,"wires":[]},{"id":"22054b6e.7e9834","type":"inject","z":"76a28038.9d539","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["b615d647.d70b88"]]},{"id":"7c92f0f9.31b1f","type":"comment","z":"76a28038.9d539","name":"Skanuje adresy I2C","info":"","x":130,"y":720,"wires":[]},{"id":"7d7996af.f750c8","type":"link in","z":"76a28038.9d539","name":"","links":["f66dac24.aaddf"],"x":435,"y":300,"wires":[["d293b85d.1d1268"]]},{"id":"97a4cd79.810bc","type":"PCA9685 out","z":"76a28038.9d539","name":"PWM channel 1","pca9685":"b21e784d.4b3e08","channel":"1","payload":"","unit":"microseconds","onStep":"0","x":500,"y":540,"wires":[]},{"id":"6ee2ad09.102474","type":"comment","z":"76a28038.9d539","name":"Obraz z kamery","info":"","x":120,"y":40,"wires":[]},{"id":"9bca20c5.7cadf","type":"comment","z":"76a28038.9d539","name":"Sterowanie serwomechanizmem","info":"","x":170,"y":220,"wires":[]},{"id":"84d9e956.0ec558","type":"debug","z":"76a28038.9d539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":480,"wires":[]},{"id":"8326c3ee.73076","type":"debug","z":"76a28038.9d539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":600,"wires":[]},{"id":"c0d1e8ee.82b8b8","type":"delay","z":"76a28038.9d539","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":360,"wires":[["d293b85d.1d1268"]]},{"id":"a1cdcea0.e45c6","type":"delay","z":"76a28038.9d539","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":540,"wires":[["97a4cd79.810bc"]]},{"id":"c3879e1.82f066","type":"debug","z":"76a28038.9d539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":300,"wires":[]},{"id":"491b8a1c.b4eb04","type":"screenshot","z":"76a28038.9d539","name":"","url":"http://192.168.1.110:5001/stream","path":"/home/pi/","x":410,"y":120,"wires":[["5b4aeb82.236d34"]]},{"id":"d428f6bc.2aa8a8","type":"inject","z":"76a28038.9d539","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":60,"wires":[["491b8a1c.b4eb04"]]},{"id":"5b4aeb82.236d34","type":"debug","z":"76a28038.9d539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":120,"wires":[]},{"id":"7905f93d.8f4638","type":"ui_group","z":"","name":"Kamera","tab":"a7e564e7.938d18","order":3,"disp":false,"width":"14","collapse":false},{"id":"b21e784d.4b3e08","type":"PCA9685","z":"","deviceNumber":"1","address":"64","frequency":"50"},{"id":"55c22fb8.f9cca","type":"ui_group","z":"","name":"Serwo","tab":"a7e564e7.938d18","order":1,"disp":false,"width":6,"collapse":false},{"id":"a7e564e7.938d18","type":"ui_tab","z":"","name":"System detekcji v.1.0","icon":"dashboard","disabled":false,"hidden":false}]